/*Fonts*/
/*Bootstrap setting*/
.transition-all {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.account .account-col, .account .content-col {
  padding: 15px;
}

.account .account-col .wrapper, .account .content-col .wrapper {
  height: 100%;
  padding: 20px;
  border: 2px solid #f0f0f0;
}

.account .account-login .account-col {
  padding: 10px;
}

.account .account-login .account-col .wrapper .forgot {
  color: #1a66ff;
}

.account .account-login .account-col .wrapper form {
  margin-top: 20px;
}

.account .account-login .account-col .wrapper form label {
  margin-bottom: 10px;
}

.account .account-login .account-col .wrapper form label input {
  margin-top: 3px;
}

.account .account-login .account-col .wrapper form .remember {
  margin-top: 24px;
  margin-bottom: 20px;
}

.account .account-navigation {
  border: 2px solid #f0f0f0;
  margin: 15px 0;
  padding: 20px 0 0 0;
}

@media (max-width: 991.98px) {
  .account .account-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;
    border: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.account .account-navigation h4 {
  padding-left: 15px;
}

.account .account-navigation .account-nav-item {
  display: block;
  padding: 5px 0;
  padding-left: 25px;
  border-left: 2px solid transparent;
  color: #737373;
}

@media (max-width: 991.98px) {
  .account .account-navigation .account-nav-item {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    padding: 10px;
  }
}

.account .account-navigation .account-nav-item:hover {
  background-color: #f7f7f7;
}

@media (max-width: 991.98px) {
  .account .account-navigation .account-nav-item:hover {
    background-color: transparent;
  }
}

.account .account-navigation .account-nav-item.active {
  border-color: #ffd333;
  font-weight: 600;
  padding-left: 27px;
  margin-left: -2px;
  color: #3d464d;
}

@media (max-width: 991.98px) {
  .account .account-navigation .account-nav-item.active {
    margin: 0;
    padding: 10px;
  }
}

.account .account-dashboard .account-content .content-col .dashboard-profile .profile-image {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .profile-image img {
  border-radius: 2000px;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .profile-info {
  margin-top: 20px;
  text-align: center;
  color: #3d464d;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .profile-info .name {
  font-weight: 600;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .profile-info .email {
  font-size: 14px;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .btn-standard {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.account .account-dashboard .account-content .content-col .dashboard-profile .btn-standard:hover {
  background-color: #3d464d;
}

.account .orders {
  border: none !important;
  padding: 0 !important;
}

.account .orders .title {
  border: 2px solid #f0f0f0;
  padding: 10px 25px 5px 25px;
}

.account .orders .grid {
  border: 2px solid #f0f0f0;
  border-top-width: 0;
  font-size: 14px;
}

.account .orders .grid .grid-heading {
  border-bottom: 2px solid #f0f0f0;
  padding: 10px 10px;
}

@media (max-width: 991.98px) {
  .account .orders .grid .grid-heading {
    padding: 10px 0;
  }
}

.account .orders .grid .grid-heading .grid-item {
  text-transform: uppercase;
  color: #737373;
}

.account .orders .grid .grid-list-item.top {
  border: none;
}

.account .orders .grid .grid-list-item {
  border-top: 2px solid #f0f0f0;
  border-top-width: 1px;
}

.account .orders .grid .grid-list-item .grid-item {
  padding: 10px 0;
}

@media (max-width: 991.98px) {
  .account .orders .grid .grid-list-item .grid-item {
    padding: 10px 15px;
  }
}

.account .orders .grid .grid-list-item .grid-item a {
  color: #1a66ff;
}

.account .orders .grid .grid-list-item .grid-item.left {
  padding: 10px 0 10px 25px;
}

@media (max-width: 991.98px) {
  .account .orders .grid .grid-list-item .grid-item.left {
    padding: 10px 15px;
  }
}

.account .address {
  font-size: 14px;
  height: 100%;
  position: relative;
}

.account .address .address-flag {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  background-color: #ffd333;
  color: #3d464d;
  padding: 5px;
  font-size: 10px;
}

.account .address .title {
  font-weight: 600;
  font-size: 17px;
  margin: 20px 0;
}

.account .address .block {
  margin-bottom: 17px;
}

.account .address .block .heading {
  color: #737373;
  font-size: 12px;
}

.account .address .action {
  display: inline-block;
  color: #1a66ff;
  margin: 5px 0;
}

.account .address .action-bar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account .address .action-bar .action {
  display: block;
  color: #1a66ff;
  margin: 5px 0;
}

.account .address-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed #f0f0f0 !important;
  position: relative;
}

@media (max-width: 767.98px) {
  .account .address-add {
    height: 200px !important;
  }
}

.account .address-add .plus-icon {
  border: 2px dashed #f0f0f0;
  border-radius: 5000px;
  top: 20%;
  left: calc(50% - 35px);
  position: absolute;
  width: 70px;
  height: 70px;
}

@media (max-width: 767.98px) {
  .account .address-add .plus-icon {
    top: 10%;
  }
}

.account .address-add .plus-icon .plus-group {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
}

.account .address-add .plus-icon .plus-group .vertical, .account .address-add .plus-icon .plus-group .horizontal {
  width: 30px;
  height: 4px;
  background-color: #737373;
}

.account .address-add .btn-standard {
  margin-top: 50px;
  background-color: #f0f0f0;
}

@media (max-width: 767.98px) {
  .account .address-add .btn-standard {
    margin-top: 100px;
  }
}

.account .address-add .btn-standard:hover {
  background-color: #3d464d;
}
/*# sourceMappingURL=account.css.map */