@import "shared/_variables.scss";


.header-container-desktop{
    .header-top-bar{
        background-color: $color-light-smoke;
        height: $top-bar-height;
        font-size: $font-small;
        .top-bar-right{
            text-align: right;
        }
        .top-bar-item{
            line-height: $font-small * 2;
            display: inline-block;
            height: 100%;
            
        }
    }
    .header-top-panel{
        height: $top-panel-height;
        .top-panel-logo{
            .panel-logo-wrapper{
                display: flex; 
                height: 100%;
                margin: auto;
                align-items: center;
                .logo{
                    background-image: url(../images/logo.png);
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-size: contain;
                    height: 50%;
                    width: 100%;
                    
                }
            }
        }
        .top-panel-search{
            .top-panel-search-form{
                .search-form-input{
                    border: 3px solid $color-smoke;
                    padding-left: 15px;
                    height: 40px;
                }
                .search-form-submit{
                    position: absolute;
                    width: 30px;
                    right: 15px;
                    background: none;
                    border: none;
                    line-height: $font-small * 3;
                    color: $color-smoke;
                }
            }
        }
        .top-panel-phone{
            text-align: right;
            .panel-phone-title{
                color: $color-dark-smoke;
            }
        }
    }
    .header-nav{
        padding: 5px;
        background-color: $primary;
        a{
            color: $secondary;
        }
        .navigation-link{
            display: inline-block;
            font-weight: $nav-font-weight;
            &:hover{
                background-color: $color-btn-hover;
            }
        }
        .dropdown{
            display: inline-block;
            .dropdown-menu{
                border-radius: 0;
                margin-top: 3.5px;
                font-weight: $nav-font-weight - 200;
                min-width: 300px;
                .dropdown-item{
                    white-space: normal;
                    &:hover{
                        background-color: $color-smoke;
                    }
                }
                
                .dropdown-category-row{
                    margin-bottom: 20px;
                    .dropdown-category-group{
                        .dropdown-divider{
                            margin-top: 0;
                        }
                        .dropdown-item-heading{
                            font-weight: $nav-font-weight - 200;
                            padding-bottom: 0;
                            &:hover{
                                background-color: rgba(0, 0, 0,0);
                                color: $color-link-hover;
                            }
                        }
                        
                        .dropdown-sub-item{
                            font-weight: $nav-font-weight - 300;
                            font-size: $font-small;
                            &:hover{
                                background-color: rgba(0, 0, 0,0);
                                color: $color-link-hover;
                            }
                        } 
                    }
                }
            }
            .double-col-dropdown{
                min-width: 600px;
                transform: translate(0);
            }
        }
        .cart-dropdown{
            position: relative;
            .cart-dropdown-menu{
                left: -285px !important;
                transform: translate3d(0, 38px, 0px) !important;
                max-height: 600px;
                overflow-x: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    width: 4px;
                    background-color: white;;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: $primary;
                }
                .cart-dropdown-item{
                    margin-bottom: 15px;
                    .cart-menu-photo{
                        display: flex;
                        align-items: center;
                    }
                    .cart-menu-product{
                        .cart-menu-product-name{
                            h5{
                                font-size: 15px;
                                margin-bottom: 0;
                                &:hover{
                                    color: $color-link-hover;
                                    @extend .transition-all;
                                }
                            }
                        }
                        .cart-menu-product-descript{
                            font-size: 12px;
                            color: $color-dark-smoke;
        
                        }
                        .cart-menu-product-price{
                            margin-top: 8px;
                            font-size: 15px;
                        }
                    }
                    .cart-dropdown-cancel{
                        a{
                            color: $color-dark-smoke;
                            &:hover{
                                color: $primary;
                            }
                        }
                    }
                }
                .cart-dropdown-table{
                    td{
                        padding: 2px;
                    }
                }

            } 
        }
    }
}

.header-container-desktop,.header-container-mobile{
    .top-panel-search{
        .top-panel-search-form{
            .search-form-input{
                border: 3px solid $color-smoke;
                padding-left: 15px;
                height: 40px;
            }
            .search-form-submit{
                position: absolute;
                width: 30px;
                right: 15px;
                background: none;
                border: none;
                line-height: $font-small * 3;
                color: $color-smoke;
            }
        }
    }
    .top-panel-logo{
        .panel-logo-wrapper{
            display: flex; 
            height: 100%;
            margin: auto;
            align-items: center;
            .logo{
                background-image: url(../images/logo.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-size: contain;
                height: 50%;
                width: 80%;
                
            }
        }
    }
    .cart-btn,.wishlist-btn,.search-btn{
        font-size: 16px;
        .wishlist-circle{
            right: 75px;
        }
        .cart-circle{
            right: 5px;
        }
        .product-circle-number{
            position: absolute;
            top: 1px;
            width: 15px;
            height: 15px;
            background-color: white;
            border-radius: 500px;
            font-size: 10px;
            padding: 3px;
        }
        
    }
} 

.header-container-mobile{
    .mobile-bar{
        height: $mobile-bar-height;
        background-color: $primary;
        .mobile-bar-icon{
            font-size: 25px;
            color: $secondary;
        }
        .top-panel-logo{
            display: flex;
            align-items: center;
            .navbar-toggler{
                border: none;
            }
            .panel-logo-wrapper{
                width: 100%;
                .logo{
                    height: 100%;
                    width: 100%;
                    background-position-x: right;
                }
            }
        }
        .wishlist-btn,.cart-btn{
            .wishlist-circle-responsive{
                top: -5px;
                left: 50px;
                padding-right: 4.5px;
                padding-top: 3px;
            }
            .cart-circle-responsive{
                top: -5px;
                right: 5px;
                padding-right: 4.5px;
                padding-top: 3px;
            }
        }
        
        #responsive-search-bar{
            display: none;
        }
        #responsive-search-bar:not(:target) {
            display: none;
        }
        #responsive-search-bar:target {
            display: block;
        }
        #responsive-search-bar{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            z-index: 100;
            form{
                input{
                    height: 60px;
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color-smoke;
                    padding-left: 15px;
                }
                .search-button-group{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 60px;
                    i{
                        color: $secondary;
                        font-size: 20px;
                        line-height: 25px;
                    }
                    button{
                        border: none;
                        border-right: 2px solid $color-smoke;
                        background-color: white;
                        height: 56px;
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                }
            }
        }       
    }
}



//Responsive menu override
@media (max-width: 1279px) {
    #my-nav{
        text-align: left;
        margin: 0;
        width: 100%;
        position: fixed;
        height: calc(100vh);
        border: 1px solid $color-smoke;
        background-color: #00000080;
        z-index: 10000000;
        .dropdown{
            &:hover{
                background-color: $primary;
                
            }
            &:hover .btn{
                
                color: $secondary;
                font-weight: bold;
            }
            .dropdown-menu{
                margin-top: -5px;
                width: 100%;
                border: 2px solid $color-smoke;
                text-align: left !important;
            }
        }
        .navigation-link{
            padding-left: 20px; 
            width: 100%;
            border: 2px solid $color-smoke;
            text-align: left !important;
        }
    }
    .navbar-nav{
        max-width: 300px;
        background-color: $color-smoke;
        padding: 0;
        margin: 0;
        z-index: 100000000;
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 4px;
            background-color: white;;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $primary;
        }
        .navbar-nav-header{
            border-bottom: 3px solid $secondary !important;
            padding-bottom: 10px;
            margin-bottom: 10px;
            button{
                margin-top: 4px;
            }
            .nav-header-heading{
                display: inline-block;;
                margin-top: 12px;
            }
        }
    }
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}