/*Fonts*/
/*Bootstrap setting*/
.transition-all, .header-container-desktop .header-nav .big-category-dropdown .big-category-menu, .header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-product .cart-menu-product-name h5:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header-container-desktop .header-top-bar {
  background-color: #f7f7f7;
  height: 32px;
  font-size: 14px;
}

.header-container-desktop .header-top-bar .top-bar-right {
  text-align: right;
}

.header-container-desktop .header-top-bar .top-bar-item {
  line-height: 28px;
  display: inline-block;
  height: 100%;
}

.header-container-desktop .header-top-panel {
  height: 100px;
}

.header-container-desktop .header-top-panel .top-panel-logo .panel-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-desktop .header-top-panel .top-panel-logo .panel-logo-wrapper .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 50%;
  width: 100%;
}

.header-container-desktop .header-top-panel .top-panel-search .top-panel-search-form .search-form-input {
  border: 3px solid #f0f0f0;
  padding-left: 15px;
  height: 40px;
}

.header-container-desktop .header-top-panel .top-panel-search .top-panel-search-form .search-form-submit {
  position: absolute;
  width: 30px;
  right: 15px;
  background: none;
  border: none;
  line-height: 42px;
  color: #f0f0f0;
}

.header-container-desktop .header-top-panel .top-panel-phone {
  text-align: right;
}

.header-container-desktop .header-top-panel .top-panel-phone .panel-phone-title {
  color: #737373;
}

.header-container-desktop .header-nav {
  height: 42px;
  background-color: #ffd333;
}

.header-container-desktop .header-nav a {
  color: #3d464d;
}

.header-container-desktop .header-nav .navigation-link {
  padding: 8px 12px 8px 12px;
  display: inline-block;
  font-weight: 700;
}

.header-container-desktop .header-nav .navigation-link:hover {
  background-color: #ddc980;
}

.header-container-desktop .header-nav .dropdown {
  display: inline-block;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: block;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  -webkit-transform: translate3d(0px, 42px, 0px);
          transform: translate3d(0px, 42px, 0px);
  border-radius: 0;
  margin-top: -1px;
  font-weight: 500;
  min-width: 300px;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-item {
  white-space: normal;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row {
  margin-bottom: 20px;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row .dropdown-category-group .dropdown-divider {
  margin-top: 0;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row .dropdown-category-group .dropdown-item-heading {
  font-weight: 500;
  padding-bottom: 0;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row .dropdown-category-group .dropdown-item-heading:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #1a66ff;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row .dropdown-category-group .dropdown-sub-item {
  font-weight: 400;
  font-size: 14px;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu .dropdown-category-row .dropdown-category-group .dropdown-sub-item:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #1a66ff;
}

.header-container-desktop .header-nav .dropdown .dropdown-menu.show {
  display: none;
}

@media (max-width: 991.98px) {
  .header-container-desktop .header-nav .dropdown .dropdown-menu.show {
    display: block;
  }
}

.header-container-desktop .header-nav .dropdown .double-col-dropdown {
  min-width: 600px;
}

.header-container-desktop .header-nav .dropdown .triple-col-dropdown {
  min-width: 900px;
}

.header-container-desktop .header-nav .dropdown:hover .dropdown-menu {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  visibility: visible;
  opacity: 1;
}

.header-container-desktop .header-nav .dropdown:hover .dropdown-menu .dropdown-item {
  color: #3d464d;
}

.header-container-desktop .header-nav .big-category-dropdown .navigation-link {
  background-color: #3d464d;
  color: white;
  font-weight: normal;
}

.header-container-desktop .header-nav .big-category-dropdown .navigation-link i {
  margin-right: 10px;
}

.header-container-desktop .header-nav .big-category-dropdown .big-category-item:hover .big-category-menu {
  display: block;
}

.header-container-desktop .header-nav .big-category-dropdown .big-category-item {
  -webkit-transition: 0;
  transition: 0;
}

.header-container-desktop .header-nav .big-category-dropdown .big-category-item:hover {
  color: #3d464d;
}

.header-container-desktop .header-nav .big-category-dropdown .menu-checkbox {
  display: none;
}

.header-container-desktop .header-nav .big-category-dropdown .big-menu-container-label {
  width: 100%;
}

.header-container-desktop .header-nav .big-category-dropdown .big-menu {
  background-color: #3d464d;
  color: white;
  border: none;
}

.header-container-desktop .header-nav .big-category-dropdown .big-menu label {
  color: white !important;
}

.header-container-desktop .header-nav .big-category-dropdown .big-menu label:hover {
  background-color: white;
  color: #3d464d !important;
}

.header-container-desktop .header-nav .big-category-dropdown .big-category-menu {
  display: none;
  position: absolute;
  top: -2px;
  left: 298px;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #3d464d;
  background-color: white;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-size: auto 250px;
  background-repeat: no-repeat;
  background-position: right 50px bottom;
}

.header-container-desktop .header-nav .big-category-dropdown .big-category-menu:hover {
  display: block;
}

.header-container-desktop .header-nav .big-category-dropdown .double-col-dropdown {
  min-width: 700px;
}

.header-container-desktop .header-nav .cart-dropdown {
  position: relative;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu {
  left: -285px !important;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ffd333;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item {
  margin-bottom: 15px;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-product .cart-menu-product-name h5 {
  font-size: 15px;
  margin-bottom: 0;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-product .cart-menu-product-name h5:hover {
  color: #1a66ff;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-product .cart-menu-product-descript {
  font-size: 12px;
  color: #737373;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-menu-product .cart-menu-product-price {
  margin-top: 8px;
  font-size: 15px;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-dropdown-cancel a {
  color: #737373;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-item .cart-dropdown-cancel a:hover {
  color: #ffd333;
}

.header-container-desktop .header-nav .cart-dropdown .cart-dropdown-menu .cart-dropdown-table td {
  padding: 2px;
}

.header-container-desktop .top-panel-search .top-panel-search-form .search-form-input, .header-container-mobile .top-panel-search .top-panel-search-form .search-form-input {
  border: 3px solid #f0f0f0;
  padding-left: 15px;
  height: 40px;
}

.header-container-desktop .top-panel-search .top-panel-search-form .search-form-submit, .header-container-mobile .top-panel-search .top-panel-search-form .search-form-submit {
  position: absolute;
  width: 30px;
  right: 15px;
  background: none;
  border: none;
  line-height: 42px;
  color: #f0f0f0;
}

.header-container-desktop .top-panel-logo .panel-logo-wrapper, .header-container-mobile .top-panel-logo .panel-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-desktop .top-panel-logo .panel-logo-wrapper .logo, .header-container-mobile .top-panel-logo .panel-logo-wrapper .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 50%;
  width: 80%;
}

.header-container-desktop .cart-btn, .header-container-desktop .wishlist-btn, .header-container-desktop .search-btn, .header-container-mobile .cart-btn, .header-container-mobile .wishlist-btn, .header-container-mobile .search-btn {
  margin-top: 5px;
  font-size: 16px;
}

.header-container-desktop .cart-btn .wishlist-circle, .header-container-desktop .wishlist-btn .wishlist-circle, .header-container-desktop .search-btn .wishlist-circle, .header-container-mobile .cart-btn .wishlist-circle, .header-container-mobile .wishlist-btn .wishlist-circle, .header-container-mobile .search-btn .wishlist-circle {
  right: 75px;
}

.header-container-desktop .cart-btn .cart-circle, .header-container-desktop .wishlist-btn .cart-circle, .header-container-desktop .search-btn .cart-circle, .header-container-mobile .cart-btn .cart-circle, .header-container-mobile .wishlist-btn .cart-circle, .header-container-mobile .search-btn .cart-circle {
  right: 5px;
}

.header-container-desktop .cart-btn .product-circle-number, .header-container-desktop .wishlist-btn .product-circle-number, .header-container-desktop .search-btn .product-circle-number, .header-container-mobile .cart-btn .product-circle-number, .header-container-mobile .wishlist-btn .product-circle-number, .header-container-mobile .search-btn .product-circle-number {
  position: absolute;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 500px;
  font-size: 10px;
  padding: 3px;
}

.header-container-mobile .mobile-bar {
  height: 60px;
  background-color: #ffd333;
}

.header-container-mobile .mobile-bar .mobile-bar-icon {
  font-size: 25px;
  color: #3d464d;
}

.header-container-mobile .mobile-bar .top-panel-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container-mobile .mobile-bar .top-panel-logo .navbar-toggler {
  border: none;
}

.header-container-mobile .mobile-bar .top-panel-logo .panel-logo-wrapper {
  width: 100%;
}

.header-container-mobile .mobile-bar .top-panel-logo .panel-logo-wrapper .logo {
  height: 100%;
  width: 100%;
  background-position-x: right;
}

.header-container-mobile .mobile-bar .wishlist-btn, .header-container-mobile .mobile-bar .cart-btn {
  margin-top: 0px;
}

.header-container-mobile .mobile-bar .wishlist-btn .wishlist-circle-responsive, .header-container-mobile .mobile-bar .cart-btn .wishlist-circle-responsive {
  top: -5px;
  left: 50px;
  padding-right: 4.5px;
  padding-top: 3px;
}

.header-container-mobile .mobile-bar .wishlist-btn .cart-circle-responsive, .header-container-mobile .mobile-bar .cart-btn .cart-circle-responsive {
  top: -5px;
  right: 5px;
  padding-right: 4.5px;
  padding-top: 3px;
}

.header-container-mobile .mobile-bar #responsive-search-bar {
  display: none;
}

.header-container-mobile .mobile-bar #responsive-search-bar:not(:target) {
  display: none;
}

.header-container-mobile .mobile-bar #responsive-search-bar:target {
  display: block;
}

.header-container-mobile .mobile-bar #responsive-search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.header-container-mobile .mobile-bar #responsive-search-bar form input {
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  padding-left: 15px;
}

.header-container-mobile .mobile-bar #responsive-search-bar form .search-button-group {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
}

.header-container-mobile .mobile-bar #responsive-search-bar form .search-button-group i {
  color: #3d464d;
  font-size: 20px;
  line-height: 25px;
}

.header-container-mobile .mobile-bar #responsive-search-bar form .search-button-group button {
  border: none;
  border-right: 2px solid #f0f0f0;
  background-color: white;
  height: 56px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1279px) {
  #my-nav {
    text-align: left;
    margin: 0;
    width: 100%;
    position: fixed;
    height: calc(100vh);
    border: 1px solid #f0f0f0;
    background-color: #00000080;
    z-index: 10000000;
  }
  #my-nav .dropdown:hover {
    background-color: #ffd333;
  }
  #my-nav .dropdown:hover .btn {
    color: #3d464d;
    font-weight: bold;
  }
  #my-nav .dropdown .dropdown-menu {
    margin-top: -5px;
    width: 100%;
    border: 2px solid #f0f0f0;
    text-align: left !important;
  }
  #my-nav .navigation-link {
    padding-left: 20px;
    width: 100%;
    border: 2px solid #f0f0f0;
    text-align: left !important;
  }
  .navbar-nav {
    max-width: 300px;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    z-index: 100000000;
    height: 100%;
    overflow-y: scroll;
  }
  .navbar-nav::-webkit-scrollbar {
    width: 4px;
    background-color: white;
  }
  .navbar-nav::-webkit-scrollbar-thumb {
    background-color: #ffd333;
  }
  .navbar-nav .navbar-nav-header {
    border-bottom: 3px solid #3d464d !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .navbar-nav .navbar-nav-header button {
    margin-top: 4px;
  }
  .navbar-nav .navbar-nav-header .nav-header-heading {
    display: inline-block;
    margin-top: 12px;
  }
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
}
/*# sourceMappingURL=header.css.map */