@import "shared/_variables";


.homepage-carousel{
    .slide{
        background-size: cover;
        background-position: center;
        background-color: $secondary;
        background-repeat: no-repeat;
        min-height: 400px;
    }
    .slide-one{
        @extend .slide;
        background-image: url("../images/slides/slide1.jpg");
    }
}



.homepage-card-row,.categories-card-row{
    margin-top: 15px;
    .homepage-card,.categories-card{
        text-align: center;
        .homepage-card-image{
            background-size:  90px;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            max-width: 100%;
        }
        .homepage-card-title,.categories-card-title{
            margin-top: 10px;
            font-weight: 700;
            color: $secondary;
        }
        .homepage-card-text,.categories-card-text{
            font-size: $font-small;
        }
    }
    .one{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .two{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .three{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .four{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
}

.homepage-card-row.card-version-one,.categories-card-row{
    .homepage-card,.categories-card{
        .homepage-card-wrapper,.categories-card-wrapper{
            background-color: $color-light-smoke;
            border: 1px solid $color-smoke;
            padding: 15px;
        }
    }
    
}
.homepage-card-row.card-version-two{
    .homepage-card{
        .homepage-card-wrapper{
            padding: 15px;
            background-color: $color-light-smoke;
        }
    }
}
.categories-card-row{
    .categories-card{
        text-align: left;
        .categories-card-wrapper{
            display: flex;
            align-items: center;
            background-color: white;
            border: 2px solid $color-smoke;
            .categories-card-info{
                width: 50%;
                display: inline-block;
                padding-left: 10px;
                .categories-card-title{
                    a{
                       color: $secondary;
                       &:hover{
                           color: $color-link-hover;
                       }
                    }
                }
            }
            .categories-card-image-wrapper{
                width: 40% !important;
                display: inline-block;
                .categories-card-image{
                    background-size:  contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 70px;
                    max-width: 100%;
                }
            }
        }  
    }
}
.one{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}
.two{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}
.three{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}


.featured-products{
    .title-with-divider{
        .filtres{
            @include media-breakpoint-down(md){
                position: absolute;
                top: 50px;
                right: 5px;
            }
            a{
                border: 2px solid white;
                border-radius: 500px;
                color: $secondary;
                padding: 0 10px 0 10px;
                font-weight: 700;
                &:hover{
                    border-color:  $color-dark-smoke;
                }
            }
            a.active{
                border-color: $primary;
            }
        }
    }
}

#customNav-featured-products{
        button{
            border: none;
            background-color: $color-smoke;
            height: 30px;
            width: 40px;
            margin: 2.5px;
            &:hover{
                background-color: $primary;
            }
            i{
                color: $color-dark-smoke;
                font-size: 25px;
                line-height: 30px;
            }
        } 
        button:hover i{
            color: $secondary;
        }
}
