@import "shared/_variables";


.homepage-carousel{
    .slide{
        background-size: cover;
        background-position: center;
        background-color: $secondary;
        background-repeat: no-repeat;
        min-height: 400px;
    }
    .slide-one{
        @extend .slide;
        background-image: url("../images/slides/slide1.jpg");
    }
}



.homepage-card-row,.categories-card-row{
    margin-top: 15px;
    .homepage-card,.categories-card{
        text-align: center;
        .homepage-card-image{
            background-size:  90px;
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            max-width: 100%;
        }
        .homepage-card-title,.categories-card-title{
            margin-top: 10px;
            font-weight: 700;
            color: $secondary;
        }
        .homepage-card-text,.categories-card-text{
            font-size: $font-small;
        }
    }
    .one{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .two{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .three{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
    .four{
        .homepage-card-image{
            background-image: url("../images/icons/freeShipping.png");
        }
    }
}

.homepage-card-row.card-version-one,.categories-card-row{
    .homepage-card,.categories-card{
        .homepage-card-wrapper,.categories-card-wrapper{
            background-color: $color-light-smoke;
            border: 1px solid $color-smoke;
            padding: 15px;
        }
    }
    
}
.homepage-card-row.card-version-two{
    .homepage-card{
        .homepage-card-wrapper{
            padding: 15px;
            background-color: $color-light-smoke;
        }
    }
}
.categories-card-row{
    .categories-card{
        text-align: left;
        
        .categories-card-wrapper{
            display: flex;
            background-color: white;
            padding: 2px;
            border: $default-border;
            .categories-card-info{
                width: 50%;
                display: inline-block;
                padding-left: 10px;
                .categories-card-subcats-wrapper{
                    $subcats_lineHeight: 18px;
                    height: 5*$subcats_lineHeight;
                    overflow: hidden;
                    .categories-card-subcat{
                        
                        font-size: $font-small;
                        line-height: $subcats_lineHeight;
                       
                    }
                }
                .categories-card-title{
                    a{
                       color: $secondary;
                       &:hover{
                           color: $color-link-hover;
                       }
                    }
                }
                
                .categories-card-view-all{
                    margin-bottom: 10px;
                    a{
                        color: $color-link-hover;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .categories-card-image-wrapper{
                align-self: center;
                width: 40% !important;
                display: inline-block;
                .categories-card-image{
                    background-size:  contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 70px;
                    max-width: 100%;
                }
            }
        }  
        .categories-card-version-two{
            height: 200px;
            .categories-card-image-wrapper{
                .categories-card-image{
                    height: 120px;
                }
            }
        }
    }
}
.one{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}
.two{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}
.three{
    .categories-card-image{
        background-image: url("../images/product.jpg");
    }
}

.banner-container{
    height: 350px;
    overflow: hidden;
    padding: 0;
    .row{
        margin-left: 15px;
        margin-right: 15px;
    }
    .banner{
        background-image: url("../images/banner.jpg");
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        .btn-standard{
            max-width: 200px;
            margin: auto;
            margin-top: 15px;
        }
    }
}

.brand-container{
    padding: 0;
    margin-top: 35px;
    .row{
        margin-left: 15px;
        margin-right: 15px;
        border: 4px solid $color-smoke;
    }
    .brand-item{
        padding: 15px;
    }
}

.featured-products,.new-arrivals-products,.latest-news{
    .title-with-divider{
        .filtres{
            margin-left: 20px;
            @include media-breakpoint-down(md){
                position: absolute;
                top: 50px;
                left: 0px;
            }
            a{
                border: 2px solid white;
                border-radius: 500px;
                color: $secondary;
                padding: 0 10px 0 10px;
                font-weight: 700;
                &:hover{
                    border-color:  $color-dark-smoke;
                }
            }
            a.active{
                border-color: $primary;
            }
        }
    }
}

#customNav-featured-products,#customNav-new-arrivals-products,#customNav-latest-news-products{
    button{
        @include media-breakpoint-down(sm){
            display: none;
        }
        border: none;
        height: 30px;
        width: 40px;
        margin: 2.5px;

        i{
            line-height: 28px;
            padding: 0;
        }
    } 
}   
#customNav-featured-products{
    @include media-breakpoint-down(sm){
        position: absolute;
        top: 50px;
        left: 15px;
    }
}



