/*Fonts*/
/*Bootstrap setting*/
.transition-all, a, .btn-standard, .plus-icon .plus-group .vertical {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*Fonts*/
/*Bootstrap setting*/
.transition-all, a, .btn-standard, .plus-icon .plus-group .vertical {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #737373;
}

a:hover {
  color: #1a66ff;
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d464d;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

.btn {
  border-radius: 0;
}

.title-with-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-with-divider .divider {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3px;
  background-color: #f0f0f0;
}

.btn-standard {
  background-color: #ffd333;
  color: #3d464d;
  text-align: center;
  padding: 5px 15px;
  font-weight: 600;
  height: 35px;
  min-width: 70px;
  display: block;
  cursor: pointer;
}

.btn-standard:hover {
  background-color: #3d464d;
  color: white;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .review {
    display: block;
  }
}

.review .photo {
  height: 75px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  margin-right: 25px;
}

@media (max-width: 767.98px) {
  .review .photo {
    width: 75px;
    margin: auto;
    margin-bottom: 10px;
  }
}

.review .photo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50000px;
}

.review .info-wrapper {
  font-size: 14px;
}

.review .info-wrapper .author {
  font-size: 18px;
  font-weight: 600;
  color: #3d464d;
}

.review .info-wrapper .content {
  margin-top: 5px;
  padding: 5px 0;
}

.review .info-wrapper .date {
  color: #737373;
}

.rating-stars i {
  color: #ffd333;
}

.availability {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}

.availability .green {
  color: #3bc03b;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #f0f0f0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.number-input,
.number-input * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.number-input div {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  min-height: 31px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input div:before,
.number-input div:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #3d464d;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.number-input div.plus:after {
  -webkit-transform: translate(0%, -50%) rotate(90deg);
          transform: translate(0%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  max-width: 5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 20px;
  min-height: 31px;
  font-weight: bold;
  text-align: center;
}

form input {
  padding: 0 10px;
  border: 2px solid #f0f0f0;
  border-right-width: 0;
}

form label {
  display: block;
  color: #737373;
  margin: 0;
}

form label input, form label select {
  width: 100%;
  height: 35px;
  border: 2px solid #f0f0f0;
  background-color: white;
  padding-left: 10px;
  color: #737373;
  margin-bottom: 20px;
}

form label textarea {
  width: 100%;
  min-height: 100px;
  border: 2px solid #f0f0f0;
  resize: vertical;
}

form .check {
  display: none;
}

form .check:checked ~ .fake-check {
  border: 2px solid #f0f0f0;
}

form .check:checked ~ .fake-check div {
  opacity: 1;
  visibility: visible;
}

form .fake-check {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #f0f0f0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .fake-check div {
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
}

form button.btn-standard {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-check .custom-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-check .custom-check-container .custom-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 4px;
}

.custom-check .custom-check-container .custom-check:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #3d464d;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-check input {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-check .custom-check-container:hover input ~ .custom-check {
  background-color: #ccc;
}

.custom-check .custom-check-container input:checked ~ .custom-check {
  background-color: #ffd333;
}

.custom-check .custom-check-container input:checked ~ .custom-check:after {
  display: block;
}

.custom-check-label-line {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.plus-icon {
  display: block;
  float: right;
  width: 14px;
  height: 16px;
  margin-top: 7px;
}

.plus-icon .plus-group {
  position: relative;
  margin: auto;
  width: 9px;
  height: 12px;
}

.plus-icon .plus-group .vertical, .plus-icon .plus-group .horizontal {
  width: 9px;
  height: 3px;
  background-color: #3d464d;
}

.plus-icon .plus-group .vertical {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background-color: #ffd333 !important;
}

.owl-nav .owl-prev.disabled, .owl-nav .owl-next.disabled {
  opacity: 1;
}

.owl-nav .owl-prev.disabled i, .owl-nav .owl-next.disabled i {
  opacity: 0.5;
}

.owl-nav .owl-prev i, .owl-nav .owl-next i {
  font-size: 25px;
  padding: 5px;
  color: #3d464d !important;
}

.owl-dots .owl-dot span {
  background-color: #f0f0f0 !important;
  width: 11px;
  height: 11px;
}

.owl-dots .owl-dot.active span {
  background-color: #ffd333 !important;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.clearing {
  clear: both;
}

.back-up-arrow {
  position: absolute;
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 1000000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd333;
  z-index: 10;
}

.back-up-arrow a {
  display: block;
  text-align: center;
  width: 100%;
  color: #3d464d;
  font-weight: 700;
}

footer {
  width: 100%;
  border-top: 4px solid #f0f0f0;
}

.footer-container {
  padding-top: 25px;
}

.footer-container .copy-row {
  border-top: 4px solid #f0f0f0;
  padding-top: 15px;
}

.contact-widget div {
  margin: 3px 0 3px 0;
}

.contact-widget i {
  color: #3d464d;
  margin-right: 10px;
}

.list-widget a {
  display: block;
}

.newsletter-widget .newsletter-form {
  width: 100%;
}

.newsletter-widget input, .newsletter-widget button {
  display: inline-block;
}

.newsletter-widget input {
  width: 100%;
  border: none;
  text-align: center;
  padding: 5px;
}

.newsletter-widget .btn-standard {
  border: none;
  width: 100%;
}

.social-networks-widget {
  margin-top: 30px;
  text-align: center;
  color: #3d464d;
  font-weight: 700;
}

.social-networks-widget .icons {
  margin-top: 10px;
  display: block;
}

.social-networks-widget .icons .centering {
  width: calc(55.5px * 4);
  margin: auto;
}

.social-networks-widget .icons .centering i {
  display: inline-block;
  color: white;
  padding: 15px;
  font-size: 15px;
  border-radius: 5000px;
  margin: 0 2.5px 0 2.5px;
  width: 45px;
  height: 45px;
  text-align: center;
}

.social-networks-widget .icons .centering .facebook {
  background-color: #4267B2;
}

.social-networks-widget .icons .centering .youtube {
  background-color: #FF0000;
}

.social-networks-widget .icons .centering .twitter {
  background-color: #1DA1F2;
}

.social-networks-widget .icons .centering .instagram {
  background-color: #405DE6;
}
/*# sourceMappingURL=main.css.map */