@import "shared/_variables";

.product-detail{


    h3{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    } 
    .product-images-container{
        #product-main-photo, .product-photos .col{
            border: $default-border;
        }
        #product-main-photo{
            height: 540px;
            overflow: hidden;
            @include media-breakpoint-down(sm) { 
                height: 320px;
            }
            #main-img-link{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 30px;
            }
            
        }

        .photos-carousel{
            .col{
                padding: 2px;
            }
            .owl-nav{
                @include media-breakpoint-down(sm) { 
                    display: none;
                }
                .owl-prev, .owl-next{
                    position: absolute;
                    top: 25px;
                    background-color: $color-smoke;
                }
                .owl-prev{
                    left: -20px;
                }
                .owl-next{
                    right: -17px;
                }     
            }
            .owl-dot{
                @include media-breakpoint-up(md) { 
                    display: none;
                }
                margin-top: 10px;
            }
        }
        .product-photos{
            margin-top: 15px;
            .col{
                height: 95px;
                @include media-breakpoint-down(sm) { 
                    height: 75px;
                }
                a{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    img{
                        max-height: 100%;
                        width: auto !important;
                        padding: 5px;
                        margin: auto;
                    }
                }
                
            }
        }
    }
   
    .product-basic-wrapper{
        .product-info{
            max-height: 72px;
            overflow-y: hidden;
        }
        .product-list-info{
            margin-top: 30px;
            margin-bottom: 0;
            color: $color-dark-smoke;
            padding-left: 15px;
            li{
                padding: 2px 0;
            }
        }
    }
    .product-special-info-bar{
        display: flex;
        justify-content: space-between;
        font-size: $font-small;
        color: $color-dark-smoke;
        
    }
    .product-advanced-wrapper{
        .price{
            font-weight: 600;
            font-size: 25px;
            color: $secondary;
        }
        $color-select-size: 25px;
        
        .product-settings{
            font-size: $font-small;
            span{
                display: inline-block;
                color: $color-dark-smoke;
                margin-bottom: 10px;
                font-weight: 400;
            }
            .product-select{
                margin-bottom: 10px;
                label{
                    display: inline-block;
                }
            }

            //#region color-filters
            .color-select{
                height: 50px;
                .color{

                    .check{
                        display: none;
                    }
                    .check:checked ~ .outer .inner{
                        width:  $color-select-size - 14px;
                        height: $color-select-size - 14px;
                        margin: 5px;
                    }
                    .check:disabled ~ .outer .inner{
                        position: absolute;
                        top: -5px;
                        left: 8px;
                        width: 25%;
                        height: 150%;
                        transform: rotateZ(45deg);
                        border-radius: 0;
                    }
                    .inner{
                        width:  $color-select-size - 4px;
                        height: $color-select-size - 4px;
                        border-radius: 5000px;
                        transition: all 0.15s;
                    }
                    .outer{
                        width: $color-select-size;
                        height: $color-select-size;
                        background-color: white;
                        border: 2px solid;
                        border-radius: 5000px;
                        position: relative;
                    }

                    .inner.red{
                        background-color: red;
                    }
                    .outer.red{
                        border-color: red;
                    }
                    .inner.yellow{
                        background-color: $primary;
                    }
                    .outer.yellow{
                        border-color: $primary;
                    }
                    .inner.grey{
                        background-color: $secondary;
                    }
                    .outer.grey{
                        border-color: $secondary;
                    }
                    
                }
            }
            //#endregion

            .material-select{
                .material{
                    .btn-standard{
                        background-color: $color-smoke;
                        font-size: $font-small;
                        line-height: 21px;
                        &:hover{
                            color: $secondary;
                        }
                    }
                    .material-check{
                        display: none;
                    }
                    .material-check:checked ~ .btn-standard{
                        background-color: $primary;
                    }
                    .material-check:disabled ~ .btn-standard{
                        background-color: $color-light-smoke;
                        color: $color-dark-smoke;
                    }
                }
            }
        }

        .add-to-cart-bar{
            display: flex;
            
            .add-to-cart-btn{
                i{
                    padding: 5px;
                }
                span{
                    font-size: $font-small;
                    margin: 0;
                    color: $secondary;
                    font-weight: 600;
                }
            }
            .add-to-cart-btn:hover span{
                color: white;
            }
        }

        
    }

    .product-footer-bar{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .tags-bar{
            display: flex;
            .tag{
                font-size: $font-small;
                font-weight: 600;
                color: $secondary;
                background-color: $color-light-smoke;
                border: $default-border;
                margin-right: 5px;
                padding: 2px 5px;
            }
        }
        .social-bar{
            display: flex;
            align-items: center;
        }

    }


    .product-detail-info{
        .info-nav-check{
            display: none;
        }

        .detail-info-nav{
            text-align: center;
            .info-nav-link{
                margin: 0 10px;
                .info-text{
                    padding: 5px 20px;
                    font-size: 20px;
                    color: $secondary;
                    font-weight: 600;
                }
                .info-nav-check:hover ~ .info-text{
                    border-bottom: 2px solid $color-dark-smoke;
                    background-color: $color-smoke;
                }
                .info-nav-check:checked ~ .info-text{
                    border-bottom: 2px solid $primary;
                    background-color: white;
                }
                
            }    
        }
        
        .detail-info{
            .info-nav-check:checked ~ .wrapper{
                display: block;
            }
            .detail-info-container{
                .wrapper{
                    display: none;
                    border: $default-border;
                    padding: 75px;
                    @include media-breakpoint-down(sm) { 
                        padding: 20px;
                    }
                }
                .info-block{
                        padding-bottom: 20px;
                        
                        p{
                            margin-bottom: 25px;
                        }
                    }

                .param-block{
                    h4{
                        margin-top: 30px;
                        font-size: 20px;
                        font-weight: 600;
                        color: $secondary;
                    }
                    .spec-block{
                        border-top: 1px solid $color-smoke;
                        .spec-bar{
                            font-weight: 600;
                            padding: 5px 10px;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid $color-smoke;
                            .title{
                                color: $color-dark-smoke;
                            }
                            .value{
                                color: $secondary;
                            }
                        }
                    }
                    
                }
                .review-form{
                    .text{
                        font-weight: 600;
                        color: $secondary;

                    }
                    .form-elem{
                        margin: 0 10px;
                        @include media-breakpoint-down(md) { 
                            margin: 0;
                            margin-top: 8px;
                        }
                    }
                    .form-bar{
                        display: flex;
                        margin: 20px 0;
                        justify-content: center;
                        @include media-breakpoint-down(md) { 
                            display: block;
                        }
                        input,select{
                            background-color: white;
                            border: $default-border;
                            height: 30px;
                            padding: 0 5px;
                            color: $color-dark-smoke;
                            @include media-breakpoint-down(md) { 
                                width: 100%;
                            }
                            &::placeholder{
                                color: $color-dark-smoke
                            }
                        }
                    }

                    textarea{
                        min-width: 100%;
                        min-height: 300px;
                        resize: vertical;
                        background-color: white;
                        border: $default-border;
                    }
                    
                }
                
                
            }
        }
    }

    .icons{
        i{
            padding-top: 10px;
            width: 35px;
            height: 35px;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;
            color: $secondary;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }
    }
    
}

.product-detail-alt{
    @include media-breakpoint-up(lg) { 
        #product-main-photo{
            height: 317px !important;
        }
    }
    .product-heading-alt{
        @include media-breakpoint-up(lg) { 
            display: flex;
            .product-title{
                font-size: 25px;

            }
            .icons{
                padding-left: 5px;
                i{
                    display: block;
                }   
            }
        }
        
    }
    .right-alt-col{
        border-left: $default-border;
        padding-left: 20px;
        @include media-breakpoint-down(md) { 
            border: none;
            padding-left: 15px;
        }
        .material-select{
            @include media-breakpoint-up(lg) { 
                label{
                    width: 100%;
                }
                .btn-standard{
                    display: block;
                    width: 100%;
                }
            }
            
        }
        .add-to-cart-bar{
            @include media-breakpoint-up(lg) { 
                display: block;
                *{
                    width: 100%;
                }
                .btn-standard{
                    margin-top: -6.2px;
                }
            }
            
            
            
        }
    }
    
}