/*Fonts*/
/*Bootstrap setting*/
.transition-all, .product .card, .product-layout-aside .top-products .top-product .wrapper .top-product-img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product-flags .flag-purple {
  background-color: #614ba6;
}

.product-flags .flag-red {
  background-color: #f33;
}

.product-flags .flag-blue {
  background-color: #37f;
}

.product-row {
  margin-top: 15px;
  padding-right: 15px;
  height: 390px;
  overflow: visible;
}

@media (max-width: 991.98px) {
  .product-row {
    height: 800px;
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .product-row {
    height: 1800px;
  }
}

.three-product-row {
  padding-right: 15px;
  height: 830px;
  margin-top: 0;
}

@media (max-width: 991.98px) {
  .three-product-row {
    height: 1200px;
  }
}

@media (max-width: 767.98px) {
  .three-product-row {
    height: 2700px;
  }
}

.product {
  overflow: hidden;
}

.product .card {
  position: absolute;
  border: 2px solid #f0f0f0;
  border-radius: 0;
  height: 316px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .product .card {
    height: 390px;
  }
}

@media (max-width: 767.98px) {
  .product .card {
    height: 440px;
  }
}

.product .card:hover {
  border-color: #ffd333;
  height: 390px;
}

@media (max-width: 767.98px) {
  .product .card:hover {
    height: 440px;
  }
}

.product .card .product-flags {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  z-index: 10000;
}

.product .card .product-flags .flag {
  min-width: 50px;
  text-align: center;
  display: inline-block;
  padding: 3px 5px 3px 5px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.product .card .product-photo {
  display: block;
}

.product .card .product-photo .product-photo-wrapper {
  max-width: 170px;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .product .card .product-photo .product-photo-wrapper {
    max-width: 50%;
  }
}

.product .card .product-photo .product-photo-wrapper img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .card .product-photo .product-photo-wrapper img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .card .product-title {
  margin: 0;
}

.product .card .product-title h5 {
  font-size: 16px;
}

.product .card .product-title:hover h5 {
  color: #1a66ff;
}

.product .card .reviews {
  height: 24px;
}

@media (min-width: 992px) {
  .product .card .reviews {
    height: 48px;
  }
}

@media (min-width: 1360px) {
  .product .card .reviews {
    height: 24px;
  }
}

.product .card .reviews .rating-stars i {
  font-size: 14px;
}

.product .card .reviews .reviews-number {
  color: #737373;
  font-size: 14px;
}

.product .card .price-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.product .card .price-bar .default-price {
  color: #737373;
  position: relative;
  font-size: 14px;
}

.product .card .price-bar .default-price .line-through {
  height: 2px;
  width: 60px;
  background-color: red;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.product .card .price {
  color: #3d464d;
  font-weight: 700;
}

.product .card .product-availability {
  font-size: 12px;
}

.product .card .product-availability.available {
  color: #3bc03b;
}

.product .card .product-info-list {
  display: none;
}

.product .card .visible {
  height: 290px;
}

@media (max-width: 767.98px) {
  .product .card .visible {
    height: 340px;
  }
}

.product .card .product-hidden-bar {
  position: relative;
  height: 70px;
}

.product .card .product-hidden-bar .descript {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  line-height: 1.4em;
  max-height: 2.8em;
  overflow: hidden;
  font-size: 12px;
}

.product .card .product-hidden-bar .product-buy-bar {
  position: absolute;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product .card .product-hidden-bar .price-bar {
  display: none;
}

.product .card .product-hidden-bar .price {
  display: none;
}

.product .card .product-hidden-bar .availability {
  display: none;
}

.product .card .product-hidden-bar .add-to-cart {
  width: 100px;
  height: 25px;
  line-height: 15px;
  font-size: 14px;
  display: inline-block;
}

.product .card .product-hidden-bar .add-to-cart:hover {
  color: white;
}

.product .card .product-hidden-bar .product-icon-group a {
  padding: 2px;
  display: inline-block;
}

.product .card .product-hidden-bar .product-icon-group a:hover {
  background-color: #f0f0f0;
}

.product .card .product-hidden-bar .product-icon-group a i {
  color: #f0f0f0;
}

.product .card .product-hidden-bar .product-icon-group a:hover i {
  color: #737373;
}

.list-product-row {
  height: 1300px;
}

@media (max-width: 991.98px) {
  .list-product-row {
    height: 2500px;
  }
}

@media (max-width: 767.98px) {
  .list-product-row {
    height: 3700px;
  }
}

.list-product-row .product .card {
  width: calc(100% - 15px);
  height: 200px;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card {
    height: 400px;
    width: calc(100% - 30px);
  }
}

@media (max-width: 767.98px) {
  .list-product-row .product .card {
    height: 600px;
    width: calc(100% - 30px);
  }
}

.list-product-row .product .card:hover {
  height: 200px;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card:hover {
    height: 400px;
    width: calc(100% - 30px);
  }
}

@media (max-width: 767.98px) {
  .list-product-row .product .card:hover {
    height: 600px;
  }
}

.list-product-row .product .card .card-body {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card .card-body {
    display: block;
  }
}

.list-product-row .product .card .main-bar {
  display: none;
}

.list-product-row .product .card .product-photo .product-photo-wrapper {
  max-width: 170px;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card .product-photo .product-photo-wrapper {
    max-width: 200px;
    padding: 10px;
    border-right: 2px solid #f0f0f0;
  }
}

@media (max-width: 767.98px) {
  .list-product-row .product .card .product-photo .product-photo-wrapper {
    border-right: none;
  }
}

.list-product-row .product .card .product-photo .product-photo-wrapper img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-product-row .product .card .product-photo .product-photo-wrapper img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-product-row .product .card .info-wrapper {
  margin-left: 15px;
}

.list-product-row .product .card .info-wrapper .product-title h5 {
  margin: 0;
}

.list-product-row .product .card .info-wrapper .reviews {
  margin-bottom: 10px;
}

.list-product-row .product .card .descript {
  display: none;
}

.list-product-row .product .card .visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 75%;
  border-right: 2px solid #f0f0f0;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card .visible {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #f0f0f0;
  }
}

@media (max-width: 767.98px) {
  .list-product-row .product .card .visible {
    height: 400px;
    display: block;
    width: 100%;
    border-right: none;
  }
}

.list-product-row .product .card .visible .price {
  display: none;
}

.list-product-row .product .card .visible .product-info-list {
  display: block;
  list-style-type: circle;
  font-size: 14px;
  color: #737373;
  max-height: 85px;
  overflow: hidden;
  padding: 0;
}

.list-product-row .product .card .visible .product-availability {
  display: none;
}

.list-product-row .product .card .product-hidden-bar {
  position: relative;
  display: block;
  width: 25%;
  padding: 20px;
  height: 100%;
}

@media (max-width: 991.98px) {
  .list-product-row .product .card .product-hidden-bar {
    height: 200px;
    width: 100%;
  }
}

.list-product-row .product .card .product-hidden-bar .price-bar {
  display: block;
}

.list-product-row .product .card .product-hidden-bar .price {
  display: block;
}

.list-product-row .product .card .product-hidden-bar .product-buy-bar {
  display: block;
  max-width: calc(100% - 40px);
}

@media (max-width: 991.98px) {
  .list-product-row .product .card .product-hidden-bar .product-icon-group i {
    font-size: 20px;
  }
}

.list-product-row .product .card .product-hidden-bar .add-to-cart {
  width: 100%;
  margin-bottom: 5px;
}

.list-product-row .product .card .product-hidden-bar .availability {
  display: block;
}

.list-product-row.layout-4 {
  height: 900px;
  padding-right: 0;
}

@media (max-width: 991.98px) {
  .list-product-row.layout-4 {
    height: 1700px;
  }
}

@media (max-width: 767.98px) {
  .list-product-row.layout-4 {
    height: 2500px;
  }
}

.product-big {
  height: 730px;
}

.product-big .card {
  height: 730px;
}

.product-big .card:hover {
  height: 730px;
}

.product-big .card .product-photo .product-photo-wrapper {
  max-width: 100%;
}

.product-big .card .product-title h5 {
  margin-top: 40px;
  font-size: 22.5px;
}

.product-big .card .price {
  margin-top: 15px;
  font-size: 20px;
}

.product-big .card .visible {
  height: 643px;
}

.product-big .card .product-hidden-bar .add-to-cart {
  width: 180px;
  height: 40px;
  margin: 5px;
  line-height: 30px;
}

.product-big .card .product-hidden-bar .product-icon-group a i {
  font-size: 20px;
}

.drop-navi-bar {
  font-size: 14px;
}

.drop-navi-bar i {
  color: #737373;
}

.product-layout-heading {
  font-weight: 700;
  font-size: 35px;
}

.product-layout-aside .card {
  border: 2px solid #f0f0f0;
}

.product-layout-aside .top-products .top-product {
  font-size: 15px;
  width: 100%;
  overflow: hidden;
}

.product-layout-aside .top-products .top-product .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 20px 0 20px;
  border-bottom: 2px solid #f0f0f0;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-img {
  height: 100px;
  width: 100px;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-img img {
  max-width: 100%;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-info {
  margin-left: 20px;
  display: block;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-info .name {
  color: black;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-info .name:hover {
  color: #1a66ff;
}

.product-layout-aside .top-products .top-product .wrapper .top-product-info .price {
  padding-top: 10px;
  color: #3d464d;
  font-weight: 600;
}

.product-layout-aside .top-products .top-product:hover .top-product-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-layout-aside .card-body {
  padding: 0;
}

.product-layout-aside .card-body .aside-card-header {
  padding: 20px 20px 20px 20px;
  font-weight: 600;
}

.product-layout-aside .card-body .layout-aside-component {
  border-top: 2px solid #f0f0f0;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.product-layout-aside .card-body .layout-aside-component .component-header {
  font-weight: 600;
  margin: 10px 10px 0 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.product-layout-aside .card-body .layout-aside-component .component-header:hover {
  background-color: #f0f0f0;
}

.product-layout-aside .card-body .layout-aside-component .component-header .header-icon {
  float: right;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper, .product-layout-aside .card-body .layout-aside-component .subcat-wrapper {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper {
  padding: 10px 20px 5px 20px;
  max-height: 2500px;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .cat-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 8px;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .cat-img img {
  max-width: 100%;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .cat-header-link {
  display: inline-block;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .cat-header {
  margin: 0;
  display: inline-block;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .cat-header:hover {
  color: #1a66ff;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .subcat-wrapper {
  border-left: 1px solid #f0f0f0;
  padding: 0 0 0 10px;
  width: calc(100% - 10px);
  margin-left: 10px;
  max-height: 0;
  overflow: hidden;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .subcat-wrapper .cat-header {
  font-weight: 600;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .subcat-wrapper .simple-dropdown-controll {
  margin-top: 8px;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .subcat-wrapper .plus-icon {
  display: none;
}

.product-layout-aside .card-body .layout-aside-component .component-wrapper .subcat-wrapper .subcat-wrapper-link {
  display: block;
  padding: 3px 0 3px 0;
}

.product-layout-aside .simple-dropdown-controll {
  width: 100%;
  display: inline-block;
  position: relative;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown {
  display: none;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .component-wrapper {
  max-height: 0;
  overflow: hidden;
  line-height: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 !important;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .component-wrapper * {
  max-height: 0;
  overflow: hidden;
  line-height: 0;
  height: 0;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .component-wrapper .plus-icon {
  display: none;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .subcat-wrapper {
  padding: 5px 0 5px 10px;
  max-height: 1000px;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .subcat-wrapper .plus-icon {
  display: block;
  height: 100%;
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .component-header .header-icon {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.product-layout-aside .simple-dropdown-controll .simple-dropdown:checked ~ .plus-icon .vertical {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.checkbox-list-filter {
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkbox-list-filter .check-count-label {
  float: right;
  font-size: 14px;
  margin: 0;
}

.checkbox-list-filter .disabled {
  color: #737373;
}

.color-filter-container {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.color-filter-container .custom-check .custom-check-container .custom-check {
  height: 25px;
  width: 25px;
}

.color-filter-container .custom-check .custom-check-container .custom-check:after {
  left: 8px;
  top: 5px;
  width: 8px;
  height: 12px;
}

.color-filter-container .disabled {
  color: #737373;
}

.color-filter-container .color-1 .custom-check-container:hover input ~ .custom-check {
  background-color: darkred;
}

.color-filter-container .color-1 .custom-check-container input:checked ~ .custom-check {
  background-color: darkred;
}

.color-filter-container .color-1 .custom-check {
  background-color: darkred;
}

.color-filter-container .color-1 .custom-check:after {
  border-color: white;
}

.color-filter-container .color-2 .custom-check-container:hover input ~ .custom-check {
  background-color: blue;
}

.color-filter-container .color-2 .custom-check-container input:checked ~ .custom-check {
  background-color: blue;
}

.color-filter-container .color-2 .custom-check {
  background-color: blue;
}

.color-filter-container .color-2 .custom-check:after {
  border-color: white;
}

.color-filter-container .color-3 .custom-check-container:hover input ~ .custom-check {
  background-color: #ffd333;
}

.color-filter-container .color-3 .custom-check-container input:checked ~ .custom-check {
  background-color: #ffd333;
}

.color-filter-container .color-3 .custom-check {
  background-color: #ffd333;
}

.color-filter-container .color-3 .custom-check:after {
  border-color: black;
}

.upper-layout-bar {
  font-size: 14px;
}

.upper-layout-bar .wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.upper-layout-bar .layout-style-btn {
  border: 2px solid #f0f0f0;
  background-color: white;
  padding: 4px 10px 4px 10px;
}

.upper-layout-bar .layout-style-btn svg {
  fill: #737373;
}

.upper-layout-bar .layout-style-btn:hover svg {
  fill: #3d464d;
}

.upper-layout-bar .active {
  background-color: #ffd333;
}

.upper-layout-bar .active svg {
  fill: #3d464d;
}

.upper-layout-bar .responsive-filter-btn {
  font-size: 14px;
  font-weight: 600;
  color: #3d464d;
  width: 150px;
  border: 2px solid #f0f0f0;
  margin-bottom: 0;
}

.upper-layout-bar .products-displayed-text {
  color: #737373;
}

.upper-layout-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #737373;
  height: 100%;
}

.upper-layout-bar form select {
  margin-left: 10px;
  color: #3d464d;
  border: 2px solid #f0f0f0;
  height: 35px;
}

.upper-layout-bar form span {
  display: inline-block;
  line-height: 35px;
}

.layout-show {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000000;
  width: 350px;
}

.layout-show .dark-box {
  width: 1000vw;
  position: absolute;
  height: 100vh;
  background-color: #00000080;
}

.layout-show .responsive-close-left {
  float: right;
  padding: 0;
  font-size: 18px;
}

.layout-show .product-layout-aside {
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background-color: white;
  z-index: 10000000;
}

.layout-show .top-products {
  display: none;
}
/*# sourceMappingURL=productLayout.css.map */