@import "shared/_variables.scss";

.product-flags{
    .flag-purple{
        background-color: #614ba6;
    }
    .flag-red{
        background-color: #f33;
    }
    .flag-blue{
        background-color: #37f;
    }
}



.product-row{
    margin-top: 15px;
    padding-right: 15px;
    height: $product-card-height + 40px;
    overflow: visible;
    @include media-breakpoint-down(md) { 
        height: ($product-card-height + 50px) * 2;
        margin-top: 0;
    }
    @include media-breakpoint-down(sm) { 
        height: ($product-card-height + 100px) * 4;
    }
}
.three-product-row{
    padding-right: 15px;
    height: ($product-card-height + 65px) * 2;
    margin-top: 0;
    @include media-breakpoint-down(md) { 
        height: ($product-card-height + 50px) * 3;
    }
    @include media-breakpoint-down(sm) { 
        height: ($product-card-height + 100px) * 3 * 2;
    }
}

//Single product
.product{
    overflow: hidden;
    .card{
        position: absolute;
        border: $default-border;
        border-radius: 0;
        height: $product-card-height - 34px;
        overflow: hidden;
        @extend .transition-all;
        @include media-breakpoint-down(md) { 
            height: $product-card-height + 40px;
        }
        @include media-breakpoint-down(sm) { 
            height: $product-card-height + 90px;

        }
        &:hover{
            border-color: $primary;
            height: $product-card-height + 40px;
            @include media-breakpoint-down(sm) {
                height: $product-card-height + 90px;
            }
        }
        .product-flags{
            position: absolute;
            top: 0;
            left: 0;
            width: 125px;
            z-index: 10000;
            .flag{
                //margin-bottom: 5px;
                min-width: 50px;
                text-align: center;
                display: inline-block;
                padding: 3px 5px 3px 5px;
                color: white;
                font-weight: 500;
                font-size: 14px;
            }
        }
        .product-photo{
            display: block;
            .product-photo-wrapper{
                max-width: 170px;
                margin: auto;
                overflow: hidden;
                @include media-breakpoint-down(md) { 
                    max-width: 50%;
                }
                img{
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.15);
                        transition: 0.5s;
                    }
                }
            }
        }
        .product-title{
            margin: 0;
            h5{
                font-size: 16px;
            }
        }
        .product-title:hover h5{
            color: $color-link-hover;
        }
        .reviews{
            height: 24px;
            @include media-breakpoint-up(lg){
                height: 48px;
            }
            @include media-breakpoint-up(xl){
                height: 24px;
            }
            .rating-stars{
                i{
                    font-size: $font-small;
                }
            }
            .reviews-number{
                color: $color-dark-smoke;
                font-size: $font-small;
            }
        }
        .price-bar{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            .default-price{
                color: $color-dark-smoke; 
                position: relative;
                .line-through{
                    height: 2px;
                    width: 100%;
                    background-color: $color-red;
                    position: absolute;
                    top: 10px;
                    transform: rotate(-15deg);
                }                 
            }
        }
        .price{
            color: $secondary;
            font-weight: 700;
        }
        .product-availability{
            font-size: $font-small - 4;
        }
        .product-availability.available{
            color: $color-availability;
        }

        .product-info-list{
            display: none;
        }
        .visible{
            height: $product-card-height - 60px;
            @include media-breakpoint-down(sm) { 
                height: $product-card-height + 50px - 60px;
            }
        }
        .product-hidden-bar{
            position: relative;
            height: 70px;
            .descript{
                flex: 1 100%;
                line-height: 1.4em;
                max-height: 2.8em;
                overflow: hidden;
                font-size: $font-small;
            }
            .product-buy-bar{
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .price{
                display: none;
            }
            .availability{
                display: none;
            }
            .add-to-cart{
                width: 100px;
                height: 25px;
                line-height: 15px;
                font-size: $font-small;
                display: inline-block;
                &:hover{
                    color: white;
                }
            }
            .product-icon-group{
                a{
                    padding: 2px;
                    display: inline-block;
                    &:hover{
                        background-color: $color-smoke;
                    }
                    i{
                        color: $color-smoke;
                    }
                }
                a:hover i{
                    color: $color-dark-smoke;
                }
            }
        }
    }
    
}

$list-product-height: 200px;
.list-product-row{
    height: $list-product-height * 6.5;
    @include media-breakpoint-down(md) { 
        height: $list-product-height * 12.5;
    }
    @include media-breakpoint-down(sm) { 
        height: $list-product-height * 18.5;
    }
    
    
    .product{
        .card{
            width: calc(100% - 15px);
            height: $list-product-height;
            
            @include media-breakpoint-down(md) { 
                height: $list-product-height * 2;
                width: calc(100% - 30px);
            }
            @include media-breakpoint-down(sm) { 
                height: $list-product-height * 3;
                width: calc(100% - 30px);
            }
            &:hover{
                height: $list-product-height;
                @include media-breakpoint-down(md) { 
                    height: $list-product-height * 2;
                    width: calc(100% - 30px);
                }
                @include media-breakpoint-down(sm) { 
                    height: $list-product-height *3;
                }
            }
            .card-body{
                display: flex;
                @include media-breakpoint-down(md) { 
                    display: block;
                }
            }
            
            .product-photo{
                .product-photo-wrapper{
                    max-width: 170px;
                    margin: auto;
                    overflow: hidden;
                    @include media-breakpoint-down(md) { 
                        max-width: 200px;
                        padding: 10px;
                        border-right: $default-border;
                    }
                    @include media-breakpoint-down(sm) { 
                        border-right: none;
                    }
                    img{
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.15);
                            transition: 0.5s;
                        }
                    }
                }
            }
            .info-wrapper{
                margin-left: 15px;
                .product-title{
                    h5{
                        margin: 0;
                    }
                }

                .reviews{
                    margin-bottom: 10px;
                    
                }
            }
            
            .visible{
                display: flex;
                align-items:center; 
                height: $list-product-height;
                @include media-breakpoint-down(md) { 
                    width: 100%;
                    border-right: none;
                    border-bottom: $default-border;
                }
                @include media-breakpoint-down(sm) { 
                    height: $list-product-height * 2;
                    display: block;
                    width: 100%;
                    border-right: none;
                    
                }
                width: 75%;
                border-right: $default-border;
                .price{
                    display: none;
                }
                .product-info-list{
                    display: block;
                    list-style-type: circle;
                    font-size: $font-small;
                    color: $color-dark-smoke;
                    max-height: 85px;
                    overflow: hidden;
                    //margin: 0;
                    padding: 0;
                }
            }
            .product-hidden-bar{
                display: block;
                width: 25%;
                padding: 20px;
                @include media-breakpoint-down(md) { 
                    height: $list-product-height;
                    width: 100%;
                }
                .price{
                    display: block;
                    margin-bottom: 25px;
                }
                .product-icon-group{
                    @include media-breakpoint-down(md) { 
                        i{
                            font-size: 20px;
                        }
                    }
                }
                .add-to-cart{
                    width: 100%;
                    margin-bottom: 5px;
                }
                .availability{
                    display: block;
                }
            }
        }
        
    }
}

.list-product-row.layout-4{
    
    height: $list-product-height * 4.5;
    padding-right: 0;
    @include media-breakpoint-down(md) { 
        height: $list-product-height * 8.5;
    }
    @include media-breakpoint-down(sm) { 
        height: $list-product-height * 12.5;
    }
}

//Big product (col-4)
$big-product-card-height: $product-card-height * 2;
.product-big{
    height: $big-product-card-height + 65px;
    .card{
        height: $big-product-card-height + 65px;
        &:hover{
            height: $big-product-card-height + 65px;
        }
        .product-photo{
            .product-photo-wrapper{
                max-width: 100%;
            }
        }
        .product-title{
            h5{
                margin-top: 40px;
                font-size: $product-title-size * 1.5;
            }
        }
        .price{
            margin-top: 15px;
            font-size: 20px;
        }
        .visible{
            height: $big-product-card-height - 22px;
        }
        .product-hidden-bar{
            .add-to-cart{
                width: 180px;
                height: 40px;
                margin: 5px;
                line-height: 30px;

            }
            .product-icon-group{
                a{

                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}



.drop-navi-bar{
    font-size: $font-small;
    i{
        color: $color-dark-smoke;
    }
}

.product-layout-heading{
    font-weight: 700;
    font-size: 35px;
}

.product-layout-aside{
    .card{
        border: $default-border;
    }

    .top-products{
        .top-product{
            font-size: $font-small + 1px;
            width: 100%;
            overflow: hidden;
            .wrapper{
                display: flex;
                margin: 5px 20px 0 20px;
                border-bottom: $default-border;
                .top-product-img{
                    height: 100px;
                    width: 100px;
                    @extend .transition-all;
                    img{
                        max-width: 100%;
                    }
                }
                .top-product-info{
                    margin-left: 20px;
                    display: block;
                    .name{
                        color: black;
                        &:hover{
                            color: $color-link-hover;
                        }
                    }
                    .price{
                        padding-top: 10px;
                        color: $secondary;
                        font-weight: 600;
                    }
                }
            }
        }
        .top-product:hover .top-product-img{
            transform: scale(1.2);
        }

    }

    .card-body{
        padding: 0;
        .aside-card-header{
            padding: 20px 20px 20px 20px;
            font-weight: 600;
        }

        .layout-aside-component{
            border-top: $default-border;
            font-size: $font-small;
            overflow: hidden;
            position: relative;
            width: 100%;
            .component-header{
                font-weight: 600;
                margin: 10px 10px 0 10px;
                padding: 5px 10px 5px 10px;
                border-radius: 5px;
                &:hover{
                    background-color: $color-smoke;
                }
                .header-icon{
                    float: right;
                    transition: all 0.2s;
                }
            }
            .component-wrapper,.subcat-wrapper{
                //overflow:hidden;
                transition: all 0.3s;
                
            }
            .component-wrapper{
                padding: 10px 20px 5px 20px;
                max-height: 2500px;

                .cat-img{
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    position: relative;
                    margin-right: 8px;
                    img{
                        max-width: 100%;
                    }
                }

                .cat-header-link{
                    display: inline-block;
                }
                .cat-header{
                    margin: 0;
                    display: inline-block;
                    &:hover{
                        color: $color-link-hover;
                    }
                }
                .subcat-wrapper{
                    border-left: 1px solid $color-smoke;
                    padding: 0 0 0 10px;
                    width: calc(100% - 10px);
                    margin-left: 10px;
                    max-height: 0;
                    overflow: hidden;
                    
                    .cat-header{
                        font-weight: 600;
                    }
                    .simple-dropdown-controll{
                        margin-top: 8px;                        
                    }
                    .plus-icon{
                        display: none;
                    }
                    .subcat-wrapper-link{
                        display: block;
                        padding: 3px 0 3px 0;
                    }
                }
            }


        }

       
    }

    //Jednoduchý dropdown systém - chtěla by dodělat funkce vypočítávající maximální výšku (aby animace byly víc smooth)
    .simple-dropdown-controll{
        width: 100%;
        display: inline-block;
        position: relative;
        .simple-dropdown{
            display: none;
         }
         .simple-dropdown:checked ~ .component-wrapper{
            max-height: 0;
            overflow: hidden;
            line-height: 0;
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0 !important;
            *{
                max-height: 0;
                overflow: hidden;
                line-height: 0;
                height: 0;
            }
            .plus-icon{
                display: none;
            }
         }
         .simple-dropdown:checked ~ .subcat-wrapper{
             padding: 5px 0 5px 10px;
             max-height: 1000px;

             .plus-icon{
                 display: block;
                 height: 100%;
             }
         }
         .simple-dropdown:checked ~ .component-header .header-icon{
             transform: rotateZ(180deg);
         }
         .simple-dropdown:checked ~ .plus-icon .vertical{
             transform: rotateZ(0deg);
         }
    }
     
}


//Seznam checkboxů - filtr
.checkbox-list-filter{
    padding: 0;
    margin: 0;
    list-style: none;  
    
    .check-count-label{
        float: right;
        font-size: $font-small;
        margin: 0;
    }
    .disabled {
        color: $color-dark-smoke;
    }

     
}

//Barevný filtr
.color-filter-container{
    width: $color-filter-size;
    height: $color-filter-size;
    display: inline-block;
    
    .custom-check{
        .custom-check-container {
            .custom-check {
                height: $color-filter-size;
                width: $color-filter-size;
                &:after{
                    left: 8px;
                    top: 5px;
                    width: 8px;
                    height: 12px;

                }
            }
        }
    }


    .disabled {
        color: $color-dark-smoke;
    }

    
    $checkboxes: 1,2,3;
    $colors: darkred,blue,$primary;
    @for $i from 1 through length($checkboxes) { 
        $color: nth($colors , $i );


        .color-#{nth($checkboxes,$i)}{
            .custom-check-container:hover input ~ .custom-check {
                background-color: $color;
            }
            .custom-check-container input:checked ~ .custom-check {
                background-color: $color;
            }
            .custom-check{
                background-color: $color;
                &:after{
                    @if (lightness( $color ) > 50) {
                        border-color: black;
                      }
                      @else {
                        border-color: white;
                      }
                }
            }
        }
        
    }

}

.upper-layout-bar{
    font-size: $font-small;

    .wrapper{
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .layout-style-btn{
        border: $default-border;
        background-color: white;
        padding: 4px 10px 4px 10px;
        svg{
            fill: $color-dark-smoke;
        }
    }
    .layout-style-btn:hover svg{
        fill: $secondary;
    }
    .active{
        background-color: $primary;
        svg{
            fill: $secondary;
        }
    }

    .responsive-filter-btn{
        font-size: $font-small;
        font-weight: 600;
        color: $secondary;
        width: 150px;
        border: $default-border;
        margin-bottom: 0;


    }

    .products-displayed-text{
        color: $color-dark-smoke;
    }
    form{
        display: flex;
        color: $color-dark-smoke;
        height: 100%;
        select{
            margin-left: 10px;
            color: $secondary;
            border: $default-border;
            height: 35px;
        }
        span{
            display: inline-block;
            line-height: 35px;
        }
    }
    
}

.layout-show{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000;
    width: 350px;
    .dark-box{
        width: 1000vw;
        position: absolute;
        height: 100vh;
        background-color: #00000080;
    }
    .responsive-close-left{
        float: right;
        padding: 0;
        font-size: 18px;
    }
    .product-layout-aside{
        padding: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
        background-color: white;
        z-index: 10000000;
    }   
    .top-products{
        display: none;
    }
}
