@import "shared/_variables.scss";

.product-flags{
    .flag-purple{
        background-color: #614ba6;
    }
    .flag-red{
        background-color: #f33;
    }
    .flag-blue{
        background-color: #37f;
    }
}

.rating-stars{
    i{
        color: $color-rating-stars;
    }
}

.product-row{
    margin-top: 15px;
    padding-right: 15px;
    height: $product-card-height + 40px;
    overflow: visible;
    @include media-breakpoint-down(md) { 
        height: ($product-card-height + 50px) * 2;
        margin-top: 0;
    }
    @include media-breakpoint-down(sm) { 
        height: ($product-card-height + 100px) * 4;
    }
}
.three-product-row{
    padding-right: 15px;
    height: ($product-card-height + 65px) * 2;
    margin-top: 0;
    @include media-breakpoint-down(md) { 
        height: ($product-card-height + 50px) * 3;
    }
    @include media-breakpoint-down(sm) { 
        height: ($product-card-height + 100px) * 3 * 2;
    }
}

//Single product
.product{
    overflow: hidden;
    .card{
        position: absolute;
        border: 2px solid $color-smoke;
        border-radius: 0;
        height: $product-card-height;
        overflow: hidden;
        @extend .transition-all;
        @include media-breakpoint-down(md) { 
            height: $product-card-height + 40px;
        }
        @include media-breakpoint-down(sm) { 
            height: $product-card-height + 90px;

        }
        &:hover{
            border-color: $primary;
            height: $product-card-height + 40px;
            @include media-breakpoint-down(sm) {
                height: $product-card-height + 90px;
            }
        }
        .product-flags{
            position: absolute;
            top: 0;
            left: 0;
            height: 200px;
            width: 125px;
            z-index: 10000;
            .flag{
                //margin-bottom: 5px;
                min-width: 50px;
                text-align: center;
                display: inline-block;
                padding: 3px 5px 3px 5px;
                color: white;
                font-weight: 500;
                font-size: 14px;
            }
        }
        .product-photo{
            display: block;
            .product-photo-wrapper{
                max-width: 170px;
                margin: auto;
                overflow: hidden;
                @include media-breakpoint-down(md) { 
                    max-width: 50%;
                }
                img{
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.15);
                        transition: 0.5s;
                    }
                }
            }
        }
        .product-title{
            h5{
                font-size: $product-title-size;
                color: $secondary;
            }
            margin: 0;
        }
        .product-title:hover h5{
            color: $color-link-hover;
        }
        .reviews{
            .rating-stars{
                i{
                    font-size: $font-small;
                }
            }
            .reviews-number{
                color: $color-dark-smoke;
                font-size: $font-small;
            }
        }
        .price{
            margin-top: 5px;
            color: $secondary;
            font-weight: 700;
        }
        .visible{
            height: $product-card-height - 22px;
            @include media-breakpoint-down(sm) { 
                height: $product-card-height + 50px - 22px;
            }
        }
        .product-hidden-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .add-to-cart{
                width: 100px;
                height: 25px;
                line-height: 15px;
                font-size: $font-small;
                display: inline-block;
            }
            .product-icon-group{
                a{
                    padding: 2px;
                    display: inline-block;
                    &:hover{
                        background-color: $color-smoke;
                    }
                    i{
                        color: $color-smoke;
                    }
                }
                a:hover i{
                    color: $color-dark-smoke;
                }
            }
        }
    }
    
}

//Big product (col-4)
$big-product-card-height: $product-card-height * 2;
.product-big{
    height: $big-product-card-height + 65px;
    .card{
        height: $big-product-card-height + 65px;
        &:hover{
            height: $big-product-card-height + 65px;
        }
        .product-photo{
            .product-photo-wrapper{
                max-width: 100%;
            }
        }
        .product-title{
            h5{
                margin-top: 40px;
                font-size: $product-title-size * 1.5;
            }
        }
        .price{
            margin-top: 15px;
            font-size: 20px;
        }
        .visible{
            height: $big-product-card-height - 22px;
        }
        .product-hidden-bar{
            .add-to-cart{
                width: 180px;
                height: 40px;
                margin: 5px;
                line-height: 30px;

            }
            .product-icon-group{
                a{

                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}