@import "_variables.scss";

a{
    text-decoration: none;
    color: $color-dark-smoke;
    @extend .transition-all;
    &:hover{
        color: $color-link-hover;
        text-decoration: none;
    }
}
h1,h2,h3,h4,h5,h6{
    color: $secondary;
}
h3{
    font-size: 30px;
}

.btn{
    border-radius: 0;
}

.title-with-divider{
    display: flex;
    align-items: center;
    .divider{
        margin-left: 20px;
        flex: 1;
        height: 3px;
        background-color: $color-smoke;
    }
}

.btn-standard{
    background-color: $primary;
    color: $secondary !important;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    height: 35px;
    min-width: 70px;
    display: block;
    cursor: pointer;
    @extend .transition-all;
    &:hover{
        background-color: $color-btn-hover;
    }
}


//Custom checkbox
.custom-check{
    .custom-check-container {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .custom-check {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 4px;
            &:after{
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $secondary;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
      
    input {
        display: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .custom-check-container:hover input ~ .custom-check {
        background-color: #ccc;
    }
      
    .custom-check-container input:checked ~ .custom-check {
        background-color: $primary;
    }
    .custom-check-container input:checked ~ .custom-check:after {
        display: block;
    }
}
.chek-name-label{
    margin-left: 20px;
    margin-bottom: 0;
}
label{
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
//Custom checkbox

.plus-icon{
    display: block;
    float: right;
    width: 14px;
    height: 16px;
    margin-top: 7px;
    .plus-group{
        position: relative;
        margin: auto;
        width: 9px;
        height: 12px;

        .vertical,.horizontal{
            width: 9px;
            height: 3px;
            background-color: $color-secondary;
        }
        .vertical{
            position: absolute;
            transform: rotateZ(90deg);
            @extend .transition-all;
        }
    }    
}
