@import "_variables.scss";

.owl-carousel .owl-stage { display: flex; align-items: center; }

a{
    text-decoration: none;
    color: $color-dark-smoke;
    @extend .transition-all;
    &:hover{
        color: $color-link-hover;
        text-decoration: none;
    }
}
h1{
    font-weight: 600;
}
h1,h2,h3,h4,h5,h6{
    color: $secondary;
}
h3{
    font-size: 30px;
}

.btn{
    border-radius: 0;
}

.title-with-divider{
    display: flex;
    align-items: center;
    .divider{
        margin-left: 20px;
        flex: 1;
        height: 3px;
        background-color: $color-smoke;
    }
}

.btn-standard{
    background-color: $primary;
    color: $secondary;
    text-align: center;
    padding: 5px 15px;
    font-weight: 600;
    height: 35px;
    min-width: 70px;
    display: block;
    cursor: pointer;
    @extend .transition-all;
    &:hover{
        background-color: $secondary;
        color: white;
    }
}

//Products-layout / product-detail stuff
.rating-stars{
    i{
        color: $color-rating-stars;
    }
}
.availability{
    margin-bottom: 10px;
    display: block;
    font-size: $font-small;
    .green{
        color: $color-availability;
    }
}

//#region Custom-number-input

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid $color-smoke;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input div {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-height: 31px;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input div:before,
  .number-input div:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: $color-secondary;
    transform: translate(-0%, -50%);
  }
  .number-input div.plus:after {
    transform: translate(-0%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    max-width: 5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 20px;
    min-height: 31px;
    font-weight: bold;
    text-align: center;
  }

//#endregion


//Custom checkbox
.custom-check{
    .custom-check-container {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .custom-check {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 4px;
            &:after{
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $secondary;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
      
    input {
        display: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .custom-check-container:hover input ~ .custom-check {
        background-color: #ccc;
    }
      
    .custom-check-container input:checked ~ .custom-check {
        background-color: $primary;
    }
    .custom-check-container input:checked ~ .custom-check:after {
        display: block;
    }
}
.chek-name-label{
    margin-left: 20px;
    margin-bottom: 0;
}
label{
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
//Custom checkbox

.plus-icon{
    display: block;
    float: right;
    width: 14px;
    height: 16px;
    margin-top: 7px;
    .plus-group{
        position: relative;
        margin: auto;
        width: 9px;
        height: 12px;

        .vertical,.horizontal{
            width: 9px;
            height: 3px;
            background-color: $color-secondary;
        }
        .vertical{
            position: absolute;
            transform: rotateZ(90deg);
            @extend .transition-all;
        }
    }    
}
